:root {
  --pr-color: #e3d7d7;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #66a090;
  width: 1400px;
}
a {
  color: #000;
  font-family: "Lucida Sans Unicode";
  font-weight: 500;
}
table {
  /* padding-left: 10px;
  padding-right: 10px; */
  /* margin: auto; */
  margin-left: 50px;
  margin-right: 50px;
}
